<%- include('partials/header-admin.ejs') %>
<body>
    <header>
        <div class="center">
            <div class="logo">
                <i class="fa-solid fa-newspaper"></i>
                <h2><a href="/login">Zing<span style="font-weight: 300;">-Share Feelings</span></a></h2>
            </div>
        </div>
    </header>
    <main>
        <div class="form-forget-password">
            <div class="top-form">
                <h1>Forgot Password</h1>
            </div>
            <form method="post">
                <input type="email" name="email" placeholder="Email" required />
                <input type="submit" name="submit" value="Submit" />
            </form>
            <p id="error-message"">This email does not exist</p>
        </div>
    </main>
    <section class="modal-success">
        <div class="modal-content">
            <h1>Email Sent with success!</h1>
            <p>A request has been sent to the administration to reset your password.</p>
            <button onclick="closeModal()">Fechar</button>
        </div>
    </section>
</body>