<%-  include('partials/head') %> 
<%-  include('partials/nav') %> 
<div class="container">
<h1>Welcome to the Forum!</h1>
<p>This is a place where you can post interesting information and participate in discussions</p>
<button type="button" class="btn btn-primary"><a class="nav-link active" aria-current="page" href="/posts">Go to All Posts</a></button>
</div>
<%-  include('partials/footer') %> 